<mat-drawer-container class="dashboard-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="header-container">
      <p class="title">Menu principal</p>

      <div class="text-center">
        <img width="50" height="50" src="assets/img/avatar.svg">
        <p class="d-block fw-bold">{{ (authUser$ | async)?.nombre }}</p>
      </div>
    </div>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links">
        <button mat-flat-button routerLink="{{ link.path }}">
          <mat-icon>{{link.icon}}</mat-icon> {{link.title }}
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <mat-toolbar color="primary" role="heading">
      <div class="flex justify-content-between col-4">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span appFontSize>Proyecto Final</span>
        </div>
      </div>
      <div class="d-flex justify-content-end col-8">
        <button
            mat-flat-button
            (click)="logout()"
            class="float-right"
          >
          Cerrar Sesión
          </button>
      </div>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
