.dashboard-container {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  height: 100vh;
}

.title{
  font-weight: bold;
  font-size: large;
  margin-top: 0.2rem;
}

.header-container{
  margin-inline: 1em 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.welcome-container {
  background: rgb(33,63,138);
  background: linear-gradient(0deg, rgba(179,164,232,1) 0%, rgba(255,255,255,1) 100%);
  width: 100%;
  height: 93vh;
  padding-top:10%;

  img {
    display: block;
    width: 60%;
    margin: auto;
  }

  p {
    font-size: 8rem;
  }
}
